<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ExtentReportManager"/>
        <listener class-name="utils.ExtentSuiteListener"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Setting Suite">
        <parameter name="browser" value="chrome"/>
        <parameter name="mode" value="headless"/>
        <classes>
        <class name="testCases.Settings.TC001"/>
            <class name="testCases.Settings.TC002"/>
            <class name="testCases.Settings.TC003"/>
            <class name="testCases.Settings.TC004"/>
            <class name="testCases.Settings.TC005"/>
            <class name="testCases.Settings.TC006"/>
            <class name="testCases.Settings.TC007"/>
            <class name="testCases.Settings.TC008"/>
            <class name="testCases.Settings.TC009"/>
            <class name="testCases.Settings.TC010"/>
            <class name="testCases.Settings.TC011"/>
            <class name="testCases.Settings.TC012"/>
            <class name="testCases.Settings.TC013"/>
            <class name="testCases.Settings.TC014"/>
            <class name="testCases.Settings.TC015"/>
            <class name="testCases.Settings.TC016"/>
            <class name="testCases.Settings.TC017"/>
            <class name="testCases.Settings.TC018"/>
            <class name="testCases.Settings.TC019"/>
            <class name="testCases.Settings.TC020"/>
            <class name="testCases.Settings.TC021"/>
            <class name="testCases.Settings.TC022"/>
            <class name="testCases.Settings.TC023"/>
            <class name="testCases.Settings.TC024"/>
            <class name="testCases.Settings.TC025"/>
            <class name="testCases.Settings.TC026"/>
            <class name="testCases.Settings.TC027"/>
            <class name="testCases.Settings.TC028"/>
            <class name="testCases.Settings.TC029"/>
            <class name="testCases.Settings.TC030"/>
            <class name="testCases.Settings.TC031"/>
            <class name="testCases.Settings.TC032"/>
            <class name="testCases.Settings.TC033"/>
            <class name="testCases.Settings.TC034"/>
            <class name="testCases.Settings.TC035"/>
            <class name="testCases.Settings.TC036"/>
            <class name="testCases.Settings.TC037"/>
            <class name="testCases.Settings.TC038"/>
            <class name="testCases.Settings.TC039"/>
            <class name="testCases.Settings.TC040"/>
            <class name="testCases.Settings.TC041"/>
            <class name="testCases.Settings.TC042"/>
            <class name="testCases.Settings.TC043"/>
            <class name="testCases.Settings.TC044"/>
            <class name="testCases.Settings.TC045"/>
            <class name="testCases.Settings.TC046"/>
            <class name="testCases.Settings.TC047"/>
            <class name="testCases.Settings.TC048"/>
            <class name="testCases.Settings.TC049"/>
            <class name="testCases.Settings.TC050"/>
            <class name="testCases.Settings.TC051"/>
            <class name="testCases.Settings.TC052"/>
            <class name="testCases.Settings.TC053"/>
            <class name="testCases.Settings.TC054"/>
            <class name="testCases.Settings.TC055"/>
            <class name="testCases.Settings.TC056"/>
            <class name="testCases.Settings.TC057"/>
            <class name="testCases.Settings.TC058"/>
            <class name="testCases.Settings.TC059"/>
            <class name="testCases.Settings.TC060"/>
            <class name="testCases.Settings.TC061"/>

        </classes>

    </test>
</suite>